<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webproject.mapper.ShopMapper">
    <select id="list1" resultType="com.webproject.domain.ProductView">
         select
         p.pdNum, p.pdName, p.cateCode, c.cateCodeRef, c.cateName, pdPrice, pdStock, pdDes, pdImg, pdDate,pdThumbImg
         from product p
             inner join product_category c
                 on p.cateCode = c.cateCode          
            where p.cateCode = #{cateCode}
              or c.cateCodeRef=#{cateCodeRef}		   
   </select>
   <select id="list2" resultType="com.webproject.domain.ProductView">
         select
         p.pdNum, p.pdName, p.cateCode, c.cateCodeRef, c.cateName, pdPrice, pdStock, pdDes, pdImg, pdDate,pdThumbImg
         from product p
             inner join product_category c
                 on p.cateCode = c.cateCode          
            where p.cateCode = #{cateCode}             	   
   </select>
   	<select id="getProductView" resultType="com.webproject.domain.ProductView">
	   select
         p.pdNum, p.pdName, p.cateCode, c.cateCodeRef, c.cateName, pdPrice, pdStock, pdDes, pdImg, pdDate,pdThumbImg
         from product p
             inner join product_category c
                 on p.cateCode = c.cateCode          
            where p.pdNum = #{pdNum}		   
	</select>
    <!-- 상품 소감(댓글) 작성 -->
    <insert id="registReply">
        insert into reply (pdNum, userId, repCon)
            values (#{pdNum}, #{userId}, #{repCon})
    </insert>
    <select id="replyList" resultType="com.webproject.domain.ReplyList">
       select
            r.pdNum, r.userId, r.repNum, r.repCon, r.repDate, u.userName
        from reply r
            inner join user u
                on r.userId = u.userId
            where pdNum = #{pdNum}
        
    </select>
    <!-- 상품 소감(댓글) 삭제 -->
    <delete id="deleteReply" parameterType="int">
        delete
        from reply
        where repNum = #{repNum}            
    </delete>

    <!-- 아이디 체크 -->
    <select id="idCheck" parameterType="int" resultType="String">
        select userId
        from reply
        where repNum = #{repNum}
    </select>

    <!-- 상품 소감(댓글) 수정 -->
    <update id="modifyReply">
        update reply
            set
                repCon = #{repCon}
            where repNum = #{repNum}            
    </update>

    <insert id="addCart">
        insert into cart (userId,pdNum,cartStock)
            values (#{userId},#{pdNum},#{cartStock})
    </insert>

       <!-- 카트 리스트 -->
    <select id="cartList"  parameterType="String" resultType="com.webproject.domain.CartList">
        select c.cartNum, c.userId, c.pdNum, c.cartStock, c.addDate, g.pdName, g.pdPrice, g.pdThumbImg
        from shop.cart c
        inner join shop.product g
        on c.pdNum = g.pdNum where c.userId = #{userId}
        <!--order by cartNum desc-->
    </select>

    <delete id="deleteCart">
       delete from cart
       where cartNum = #{cartNum}
       and userId = #{userId}
    </delete>
    
    <!-- 주문 정보 -->
    <insert id="orderInfo" parameterType="com.webproject.domain.Order">
         insert into shop.order(orderId, userId, orderRec, userAddr1, userAddr2, userAddr3, orderPhon, amount)
            values(#{orderId}, #{userId}, #{orderRec}, #{userAddr1}, #{userAddr2}, #{userAddr3}, #{orderPhon}, #{amount});
    </insert>
    
    <!-- 주문 상세 정보 --> 
    <insert id="orderInfo_Details">
        insert into order_details(orderId, pdNum, cartStock)
            select  #{orderId}, pdNum, cartStock
                from cart   
    </insert> 

    <delete id="cartAllDelete">
        delete from cart
            where userId = #{userId}
    </delete>

    <!-- 특정 유저의 주문 목록 -->
    <select id="orderList" parameterType="String" resultType="com.webproject.domain.Order">
        select  * from shop.order where userId=#{userId};
    </select>
    <!-- 특정 주문 목록 -->
    <select id="orderView" parameterType="String"  resultType="com.webproject.domain.OrderList">
        SELECT 
            o.orderId,
            o.userId,
            o.orderRec,
            o.userAddr1,
            o.userAddr2,
            o.userAddr3,
            o.orderPhon,
            o.amount,
            o.orderDate,
            o.delivery,
            d.orderDetailsNum,
            d.pdNum,
            d.cartStock,
            g.pdName,
            g.pdThumbImg,
            g.pdPrice        
        FROM shop.order o
            INNER JOIN shop.order_details d ON o.orderId = d.orderId
            INNER JOIN shop.product g ON d.pdNum = g.pdNum
            WHERE o.userId = #{userId} AND o.orderId = #{orderId}
    </select>    
    
</mapper>
